@CHARSET "UTF-8";

.albumsview {
	margin-bottom: 10px;
	margin-top: 5px;
	padding-top: 5pX;
	width: 100%;
	height: 100%;
	border-top: 1px dotted #999;
}
ul.list_of_albums {
	display: inline-block;
}
ul.list_of_albums li {
	list-style: none;
    display: inline;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 7px;
    float: left;
    font-weight: normal;
    font-size: 0.8em;
    width: 100px;
    height: 190px;
    background: #f7f7f7;
    border: 1px solid #CCC;
}
li.list_of_albums_entrie {
    color: #00ff00;
    border: 6px solid #CCC;
    margin: 50px;
    width: 100%;
}
li.genre_item:hover {
	background:none repeat scroll 0 0 #acacac;
	border:1px solid #555555;
	cursor:pointer;
}
.genre_item:hover,
.genre_item a:hover {
   color: #fefefe;
}