@CHARSET "UTF-8";

fieldset.adminform {
	margin: 10px;
	overflow: hidden;
}

fieldset.adminform legend {
	margin: 0;
	padding: 0;
}

ul.adminformlist,
ul.adminformlist li {
	margin: 0;
	padding: 0;
	list-style: none;
}

fieldset label,
fieldset span.faux-label {
	float: left;
	clear: left;
	display:block;
	margin: 5px 0;
}
fieldset ul {
	margin: 0;
	padding: 0;
}

form label,
form span.faux-label {
	font-size: 1.091em;
}

fieldset input,
fieldset textarea,
fieldset select,
fieldset img,
fieldset button {
	float: left;
	width: auto;
	margin: 5px 5px 5px 0px;
}

fieldset.adminform textarea {
	width: 355px;
}

fieldset ul.checklist input {
	clear:left;
	margin-right: 10px;
}

fieldset ul.checklist label,
fieldset ul.menu-links label,
fieldset#filter-bar label {
	clear:none;
}
fieldset.adminform ul.checklist li {
	width: 100%;
	margin: 0;
	padding:0;
}
fieldset.adminform ul.checklist li label {
	width: auto;
}

input.readonly {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.091em;
	padding-top: 1px;
	border: 0;
	font-weight: bold;
	color: #666;
}

#jform_id,
span.readonly {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.091em;
	margin:5px 5px 5px 0;
	font-weight: bold;
	float: left;
	display:block;
	color: #666;
}

#jform_params_alt,
#jform_clickurl {
	width: 355px;
}

#jform-imp {
	width: 70px;
}

.mod-desc { margin-left: 135px !important; float: none !important;}

input.readonly {
	background-color: #ffffff;
}

fieldset.filter {
	border: 0;
	margin: 0;
	padding: 0 0 5px;
}

fieldset.filter ol {
	border: 0;
	list-style: none;
	margin: 0;
	padding: 5px 0 0;
}

fieldset.filter ol li {
	float: left;
	padding: 0 5px 0 0;
}

fieldset.filter ol li fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

fieldset.filter .left {
	float: left;
}

fieldset.filter .right {
	float: right;
}

fieldset.filter .right select {
	margin-left: 10px;
}

fieldset#filter-bar {
	border: 0;
	padding: 0;
}

label.filter-search-lbl {
	margin-left: 5px;
}

label.filter-hide-lbl {
	margin-left: 5px;
	clear: none;
}

div.filter-select input,
div.filter-select select {
	margin-left: 5px;
	margin-right: 5px;
}

button.filter-go {
	float: left;
	margin-right: 15px;
}

label.filter-published-lbl {
	clear: none;
	margin-left: 10px;
}
.filtercontainer {
	margin-top:50px;
	width: 100%;
	padding: 5px;
}

.filter-selector {
	margin-top: 50px;
}