

.directplay { margin-bottom: 20px; }

fieldset.batch { background: none repeat scroll 0 0 #fafafa; }
fieldset.batch { margin: 20px 10px 10px; padding: 10px; }
fieldset.batch { border: 1px solid #C7C8B2; }
fieldset.batch { margin: 40px 10px; padding-bottom: 20px; text-align: left; }